 <ul id="myList">
   <li>Duy</li>
</ul>
        <script src="./socket.io/socket.io.js"></script>

<script>
        var socket = io()  
        let severity1 = [];
        
        function checkAlarm (){
              socket.on("exchange-data", function(data){
               {{!-- for (i=0; i<11; i++){
                    severity1[i] = data.data[1][i].severity
                    $("#"+ severity1[i]).html(data.data[1][i].severity)
                } --}}
                
                setAlarm(){
                  newListAlamr[]
                  //condition: !ACK && data.data[1][i].severity==1||2
                  //do: newListAlamr.add (data.data[1][i])
                }

                const alarmItem = document.createElement('li');
                
                if(data.data[1][0]){
                   if (data.data[1][0].severity==2){
                  alarmItem.textContent = "High Risk"
                  myList.appendChild(alarmItem);
                }else if(data.data[1][0].severity==1) {
                  alarmItem.textContent = "Risk"
                  myList.appendChild(alarmItem);
                }   
                }
               
            })
            }

    var something = (function() {
      var executed = false;
      return function() {
        if (!executed) {
            executed = true;
            checkAlarm()
        }
    };
})();
something();

        $(document).ready(function(){
        });

      function createNoti(textnode){
          const node = document.createElement("li");
          node.textContent = "Water"
          myList.appendChild(node);
         }      
        createNoti();

</script>

<h1 id="number">0</h1>

<div id="Temper">Duy</div>
<div id="Press" style="display: none;">Tsfsdf</div>
<div id="NO" style="display: none;"></div>
<div id="NO2" style="display: none;"></div>

<div class="alert alert-success" role="alert" >
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>