<script src="./socket.io/socket.io.js"></script>
<script>
        var socket = io()

        function updateValue() {
            socket.on("exchange-data", function(data){
               for (i=0; i<11; i++){
                    const indicator = [];
                    indicator[i] = data.data[1][i].indicator
                    $("#"+ indicator[i]).html(data.data[1][i].value)
                }  
            })
        }
        updateValue();

        $(document).ready(function(){
        });

</script>
    <div id="Temperature" style="display: none;"></div>
    <div id="Pressure" style="display: none;"></div>
    <div id="NO" style="display: none;"></div>
    <div id="NO2" style="display: none;"></div>
    <div id="CO" style="display: none;"></div>
    <div id="SO2" style="display: none;"></div>
    <div id="O2" style="display: none;"></div>
    <div id="H2S" style="display: none;"></div>
    <div id="NH3" style="display: none;"></div>
    <div id="Hg" style="display: none;"></div>
    <div id="PM" style="display: none;"></div>


<div class="list-group" style="float: left; width: 10%">
  <a href="#" class="list-group-item list-group-item-action active">
    Stations list
  </a>
  <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-water"></i>
      Tram 1 Long Thanh</a>
  <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-house-flood-water"></i>
      Tram 2 Long Thanh</a>
  <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-wind"></i>
      Tram 3 Long Thanh</a>
  <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-industry"></i>
      Tram 4 Long Thanh</a>
      <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-water"></i>

      Tram 1 Bien Hoa</a>
  <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-house-flood-water"></i>
      Tram 2 Bien Hoa</a>
  <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-wind"></i>
      Tram 3 Bien Hoa</a>
  <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-industry"></i>
      Tram 4 Bien Hoa</a>
</div>

<div style="float: right; width: 90%" >
    <h3 style="text-align: center; font-size: xx-large;" >Tram Long Thanh</h3>
    <div id="div1" style="float: left; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">Temperature</div>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart", {
            type: "line",
            data: {
                datasets: [{
                    label: "Temperature",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("Temperature").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>
    <div id="div2" style="float: right; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">Pressure</div>
        <canvas id="myChart2" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart2", {
            type: "line",
            data: {
                datasets: [{
                    label: "Pressure",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("Pressure").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>
    <div id="div3" style="float: left; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">NO</div>
        <canvas id="myChart3" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart3", {
            type: "line",
            data: {
                datasets: [{
                    label: "NO",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("NO").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>
    <div id="div4" style="float: right; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">NO2</div>
        <canvas id="myChart4" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart4", {
            type: "line",
            data: {
                datasets: [{
                    label: "NO2",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("NO2").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>
    <div id="div5" style="float: left; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">CO</div>
        <canvas id="myChart5" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart5", {
            type: "line",
            data: {
                datasets: [{
                    label: "CO",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("CO").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>
    <div id="div6" style="float: right; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">SO2</div>
        <canvas id="myChart6" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart6", {
            type: "line",
            data: {
                datasets: [{
                    label: "SO2",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("SO2").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>
    <div id="div7" style="float: left; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">O2</div>
        <canvas id="myChart7" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart7", {
            type: "line",
            data: {
                datasets: [{
                    label: "O2",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("O2").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>
    <div id="div8" style="float: left; width: 50%; height: 50%;">
        <div style="font-size: x-large; text-align: center;" id="text1">H2S</div>
        <canvas id="myChart8" style="width:100%;max-width:700px"></canvas> 
               <script>
            new Chart("myChart8", {
            type: "line",
            data: {
                datasets: [{
                    label: "H2S",
                    backgroundColor: "rgba(0,0,0,1.0)",
                    borderColor: "rgba(0,0,0,0.1)",
                    data: []
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                    x: {
                        type: 'realtime',   // x axis will auto-scroll from right to left
                        realtime: {         // per-axis options
                        duration: 20000,  // data in the past 20000 ms will be displayed
                        refresh: 1000,    // onRefresh callback will be called every 1000 ms
                        delay: 1000,      // delay of 1000 ms, so upcoming values are known before plotting a line
                        pause: false,     // chart is not paused
                        ttl: undefined,   // data will be automatically deleted as it disappears off the chart
                        frameRate: 30,    // data points are drawn 30 times every second
                        
                        // a callback to update datasets
                        onRefresh: chart => {
                            chart.data.datasets.forEach(dataset => {
                                    dataset.data.push({
                                    x: Date.now(),
                                    y: document.getElementById("H2S").innerHTML
                                })
                            });
                        }
                        }
                    },
                }
            }
            });
    
        </script>
 
    </div>

</div>
